@{
    ViewBag.Title = "Contact";
}
<script>
    $("#spinner").hide();
    $(".container.body-content").show();
</script>
<h2>@ViewBag.Message</h2>
<address>
    <strong>Skype:</strong> <span>serg.vin1</span><br />
    <strong>E-Mail:</strong> <a href="mailto:cloudforest9@gmail.com">cloudforest9@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/sergey-vinnichenko-6914b4151">www.linkedin.com/in/sergey-vinnichenko-6914b4151</a><br />
    <strong>Phone number:</strong> <span>+38(073)-20-29-711</span>
</address>