@{
    ViewBag.Title = "History";
}
<script>
    $("#spinner").show();
    $(".container.body-content").hide();
</script>
<h2>History</h2>
<div id="Table"></div>

@Scripts.Render("../Scripts/history_script.js")
